#ScoreBody #sidebar{
    width: 20vw;
    height: 9vh;
    align-items: center;
    border-radius: 8px ;
    cursor: pointer;
} 
#ScoreBody #sidebar #carouselIcon{
    margin-left: 230px;
    width: 40px;
    height: 40px;
    margin-top: 15px;
} 
#ScoreBody #sidebar #buttons {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-top: 20px;
} 
#ScoreBody #sidebar #buttons #iconsButtons #editButton,#deleteButton{
    width: 40px;
    height: 40px;
    padding-left: 10px;
} 
#ScoreBody #sidebar #buttons #iconsButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
} 
#ScoreBody #sidebar #buttons #text {
    padding: 10px;
    border: none;
    
} 
#ScoreBody #sidebar #buttons #text h6{
    width: 15vw;
    height: 20px;
    background-color:  #C4C4C4;
    border-radius: 8px ;
    padding-left: 15px;
    margin-top: 10px;
} 
#ScoreBody #sidebar #buttons #text h5{
    width: 15vw;
    height: 80px;
    background-color: #AE4646;
    border-radius: 8px ;
    margin: 10px;
} 
#ScoreBody #sidebar #titleImage{
    display: flex;
    flex-direction: row;
} 
#sidebar #newObj{
    height: 80px;
    width: 20vw;
    background-color:  #C4C4C4;
    font-size: 25px;
    text-align: center;

    border-radius: 16px;
} 
 #ScoreBody{
    width: 60vw;
    height: 70vh;
    padding: 5vh 0 5vh 0;
    margin: 0 20vw 0 20vw ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#ScoreBody #TitleBar{
   border-radius: 8px 8px 0px 0px;
   width: 35vw;
    height: 2vw;
    background-color:  #C4C4C4;
    font-size: 22px;
    padding:10px 0px 0px 20px;
    margin: 0 0 0 20px;
}
#ScoreBody #ScoreUl{
    width: 35vw;
    height: 52vh;
    margin: 0 0 0 20px;
    padding: 0;
    border-radius: 0px 0px 8px 8px;
    border: 3px solid #C4C4C4;
    box-shadow: 3px rgba(0, 0, 0, 0.527);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ScoreBody #ScoreUl #ScoreForm{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 25vw;
    height: 43vh;
    border-radius: 0px 0px 4px 4px;
 }
 #ScoreBody #ScoreUl #ScoreForm #divH1 {
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: center;
    align-items: center;
    width: 14vw;
    margin: 1.3vh 0vw;
    
}
#ScoreBody #ScoreUl #ScoreForm #divH1 h1{
    padding: 0px 0px 60px 0px;
    height: 30px;
    width: 12.5vw;
    font-size: 22px;
}
#ScoreBody  #ScoreUl button{
    margin: 0 0 60px 0;
    border-radius: 8px;
    width: 8vw;
    height: 4vh;
}
#popup-root div {
    position: absolute;
    top: 50%;
    left: 44%;
    width: 300px;
    height: 180px;
}
#popup-root #popupText{
    padding: 10%;
    font-size: 20px;
}
#popup-root div button{
    margin-left: 20%;
    border-radius: 8px;
    width: 60px;
    height: 30px;
}