#CriarUserBody {
    width: 60vw;
    min-height: 50vh;
    height: auto;
    padding: 5vh 0;
    margin: 0 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CriarUserBody #TitleBar {
    border-radius: 8px 8px 0 0;
    width: 35vw;
    height: auto;
    background-color: #C4C4C4;
    font-size: 20px;
    padding: 10px 0 10px 20px;
    margin: 0 0 0 20px;
}

#CriarUserBody #UserUl {
    width: 35vw;
    height: auto;
    margin: 0 0 0 20px;
    padding: 16px 0 20px 0;
    border-radius: 0 0 8px 8px;
    border: 3px solid #C4C4C4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CriarUserBody #UserUl #UserForm {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    margin: 0;
    justify-content: center;
    width: 30vw;
    height: auto;
}

#CriarUserBody #UserUl #UserForm #divH1 {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    align-items: flex-end;
    width: 12vw;
    padding-right: 12px;
}

#CriarUserBody #UserUl #UserForm #divH1 h1 {
    height: 36px;
    margin-bottom: 14px;
    width: 100%;
    font-size: 16px;
    line-height: 36px;
    padding: 0;
    text-align: right;
}

#CriarUserBody #UserUl #UserForm #divInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 16vw;
}

#CriarUserBody #UserUl #UserForm #divInput #input {
    font-size: 14px;
    margin-bottom: 14px;
    padding: 7px 10px;
    width: 100%;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    height: 36px;
    box-sizing: border-box;
}

#CriarUserBody #UserUl #UserForm #divInput .radios {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    margin-bottom: 14px;
    gap: 16px;
}

#CriarUserBody #UserUl #UserForm #divInput .radios .form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

#CriarUserBody #UserUl #UserForm #divInput .radios input {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-bottom: 0 !important;
}

#CriarUserBody #UserUl #UserForm #divInput .radios .form-check-label {
    font-size: 16px;
    margin: 0;
}

#CriarUserBody #UserUl #UserForm #divInput select {
    font-size: 14px;
    margin-bottom: 14px;
    padding: 7px 10px;
    width: 100%;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    height: 36px;
    box-sizing: border-box;
    background-color: #fff;
}

#CriarUserBody #UserUl button {
    margin: 8px 0 4px 0;
    border-radius: 8px;
    width: 120px;
    height: 36px;
    background-color: #C4C4C4;
    font-size: 15px;
    cursor: pointer;
    border: none;
}
